@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&display=swap');

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Edu AU VIC WA NT Dots", cursive; */
    font-family: 'Courier', monospace;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    /* font-style: normal; */
}

.main{
    height: 50vh;
    background-image: url('/main.png');
    background-color: black;
    width: 100%;
    position: relative;
    overflow: hidden;
}

video{
    object-fit: cover;
}

.main span{
    position: absolute;
    bottom: 10%;
    right: 5%;
    color: white;
    background-color: #020716;
    padding: 15px;
    font-weight: bold;
}
